body {
    min-width: 100vh; /*Min-width tem a finalidade  de evitar que o conteúdo da página fique muito pequeno em telas menores.*/
    background-image: url(../imgs/soja.svg); /* Imagem de fundo da página */
    background-size: 100%; /* Tamanho da imagem de fundo */
    background-repeat: no-repeat; /* Não repetir a imagem de fundo */
    
}

h2 {
    text-align: center; /* Alinhamento do texto no centro */
    color: #fff; /* Cor do texto */
    font-size: 2em; /* Tamanho da fonte */
    margin-top: 20px; /* Margem superior */
}

form {
    display: flex; /* Exibe os elementos filhos em linha */
    flex-direction: column; /* Direção da coluna */
    align-items: center; /* Alinhamento dos itens no centro */
    margin-top: 20px; /* Margem superior */
}

input[type="text"] {
    width: 300px; /* Largura do campo de texto */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 20px; /* Margem inferior */
    border-radius: 20px; /* Bordas arredondadas */
    border: 2px solid #000cff; /* Borda cinza clara */
    background-image: url(../imgs/icone-usuario.png); /* Ícone de usuário */
    background-size: 20px 20px; /* Tamanho do ícone */
    background-position: 10px 10px; /* Posição do ícone */
  background-repeat: no-repeat;
  padding-left: 40px; /* Espaçamento interno à esquerda */
}

input[type="password"] {
    width: 300px; /* Largura do campo de senha */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 20px; /* Margem inferior */
    border-radius: 20px; /* Bordas arredondadas */
    border: 2px solid #000cff; /* Borda cinza clara */
    background-image: url(../imgs/icone-senha.png); /* Ícone de senha */
    background-size: 20px 20px; /* Tamanho do ícone */
    background-position: 10px 10px; /* Posição do ícone */
  background-repeat: no-repeat;
  padding-left: 40px; /* Espaçamento interno à esquerda */
}

button[type="submit"] {
    width: 150px; /* Largura do botão */
    padding: 10px; /* Espaçamento interno */
    margin-top: 50px; /* Margem superior */
    border-radius: 20px; /* Bordas arredondadas */
    border: none; /* Sem borda */
    background-color: #000cff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    font-size: 1.2em; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
}

button[type="submit"]:hover {
    background-color: #1ce66c; /* Cor de fundo azul mais escuro ao passar o mouse */
}

main {
    background-color: rgb(28, 230, 108, 0.15); /* Fundo branco com transparência */
    padding: 30px; /* Espaçamento interno */
    border: 2px solid #9d9d9f; /* Borda azul */
    border-radius: 20px; /* Bordas arredondadas */
    backdrop-filter: blur(8px); /* Efeito vidro */
    -webkit-backdrop-filter: blur(8px); /* Suporte para Safari */
    width: fit-content; /* Largura do conteúdo */
    margin: 60px auto; /* Centraliza na tela */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
}
